<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="google-site-verification" content="I7I5u_ALHnW8e0J6jrgkChquEl587Bdh7iTyRvZSXoU" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$</title>
	<link rel="shortcut icon" href="/images/favicon.jpg" />
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="alternate"
              type="application/rss+xml"
              title="untitled"
              href="/rss.xml" />
	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
 	 })();
	</script>
    </head>
    <body>
      <div id="header">
	<span id="logo">
	  <img src="/images/logo.png"
	       alt="Compass rose"
	       title="Marint.net"/>
	</span>
        <span id="blogname">MARINT.NET</span>
	<span id="icons">
	  <a href="/rss.xml"><img src="/images/rss48.png" alt="RSS" title="Subscribe to RSS feed"/></a>
	</span>
        <!-- p>$title$</p -->
        <div id="navbar">
          <a href="/index.html">Front page</a>
          <a href="/about.html">About</a>
          <a href="/posts.html">Archive</a>
        </div>
      </div>
      <div id="main">        
        $body$
	<div id="comments">Feedback? Please email <a href="mailto:ketil@malde.org">ketil@malde.org</a>.</div>
	<div id="footer">
	  <g:plusone annotation="inline"></g:plusone>
	  <a href="http://www.reddit.com/submit" onclick="window.location = 'http://www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="http://www.reddit.com/static/spreddit7.gif" alt="submit to reddit" border="0" /></a>
	</div>
      </div>
    </body>
</html>
