<ul>
    $for(posts)$
        <li>
            <strong><a href="$url$">$title$</a></strong> - $date$ <br>
            <em>$tags$</em> <br>
            <a href="$url$#disqus_thread">Comments</a>
	    <p>$summary$</p>
        </li>
    $endfor$
</ul>
<script type="text/javascript">
var disqus_shortname = 'marint';
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

